html {
  color-scheme: light dark;
  --bg: #f7f7fb;      
  --fg: #8896b9;      
  --accent: #8513ab;  
  --muted: #ede8ef;   
  font-family: "Poppins", sans-serif;}

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button, a {
  background: var(--accent);
  color: white;
  border: none;
  padding: 4px 14px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.card, .panel {
  background: var(--bg);
  border: 1px solid var(--muted);
  border-radius: 10px;
  padding: 14px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav > ul > li {
  flex: 1 1 auto;
  text-align: center;
}

main {
  display: flex;
}

main > section:not(:target) {
  display: none;
}

/* ==== Botón tipo switch para tema ==== */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 34px;
}

.slider::before {
  content: "🌙";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

/* Cuando está activado (modo oscuro) */
input:checked + .slider {
  background-color: var(--accent);
}

input:checked + .slider::before {
  transform: translateX(24px);
  content: "☀️";
}
